* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#cvs {
    background-color: black;
}

h2 {
    color: white;
    font-family: monospace;
}